<html>
<head>
    <title>Add New Flightinfo</title>
<style>
table, th, td {
  border: 1px solid Red;
}
</style>
</head>
<body style="background-color:powderblue;">
{% extends 'base.html'  %}
{% block context  %}

<h1>Add New Flightinfo here</h1>
    <form method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Add Flightinfo">
        <button type="reset" value="Reset">Reset</button>
        <a href = "./home"><button type="button">Home</button> </a>

    {% endblock %}
    </form>
</body>
</html>